---
const { titulo, descripcion, icon: Icon,iconSize } = Astro.props;
---

<div class="valor-card">
    <div class="valor-header">
        <div class="icon-wrapper">
            <span class="icon"><Icon size={iconSize || 24} /></span>
        </div>
        <h3>{titulo}</h3>
    </div>
    <p>{descripcion}</p>
</div>


<style>
    .valor-header {
    display: flex;
    align-items: center; 
    gap: 1rem; 
    margin-bottom: 1.2rem;
  }
  .valor-card {
    background: transparent;
    border: 1px solid #e9dcc9; 
    border-radius: 16px;
    padding: 2rem;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }
  .valor-card p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #666;
    margin-left: 0.5rem;  
  }
  .valor-card h3 {
    font-size: 1.25rem;
    color: #333;
    font-weight: 700;
    margin: 0; 
    line-height: 1.2;
  }
  .valor-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    background: #ffffff;
  }

  .icon-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1.4rem;
    color: #d97767;
    background-color: rgba(217, 119, 103, 0.1);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    flex-shrink: 0; 
  }
  .valor-card:last-child:nth-child(7) {
    grid-column: 1 / -1; 
    max-width: 600px; 
    justify-self: center;
  }
</style>
